body{
    margin: 0;
    background-color:black;
    color: white;
    font-family: 'Baloo Tamma 2', cursive;
}
.welcome-page{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 50px;
}
.computer, .multiplayer{
    margin: 15px;
    height: 30px;
    border-radius: 10px;
    background: #293241;
}
.x-o{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
.key{
    width: 80px;
    background: #293241;
    color: black;
    text-align: center;
    border-radius: 5px;
    box-shadow: 5px;
}
.game-body{
    height: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.main-tictactoe{
    left: 100px;
    top: 100px;
    margin: 25px;
    padding: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
table{
    border-collapse: collapse;
    position: relative;
    margin-bottom: 30px;
}
td{
    border: 2px solid white;
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: 35px;
    cursor: pointer;  
}
.x::before{
    display: flex;
    justify-content: center;
    align-items: center;
    content: '×';
    font-size: 35px;
}.o::before{
    display: flex;
    justify-content: center;
    align-items: center;
    content: '○';
    font-size: 35px;
}
tr:first-child td {
    border-top: 0;
}
tr td:first-child{
    border-left: 0;
}
tr:last-child td {
    border-bottom: 0;
}
tr td:last-child{
    border-right: 0;
}
.reset{
    background: #293241;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.reset:hover{
    cursor: pointer;
    
}
@media (max-width: 500px){
    .main-tictactoe{
        padding: 0;
    }
    td{
        border: 2px solid white;
        height: 70px;
        width: 70px; 
    }
    .x::before{
        font-size: 35px;
    }.o::before{
        font-size: 35px;
    }
}



/* #board{
    width: 50px;
    height: 50px;
    background-color: #fff;
    color: black;
    text-align: center;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-tictactoe{
    margin: auto;
}
.input-container{
    margin: 20px;
    display: grid;
    grid-template-columns: 50px 50px 50px;
    justify-content: center;
    align-content: center;

} */